<article id="house-details">
    <div class="container">

        <div class="text-center">
            <h4>Información y Características</h4>
            <hr>
        </div>

        <div class="features-details-container">

            <div class="info-details text-center">
                <h5>Información</h5>
                <p>{{houseInfo.description}}</p>
            </div>

            <div class="features-details">

                <h5 class="text-center">Características</h5>

                <div class="features-container boder-top-feature">
                    <div class="feature-icon text-center">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="feature-info">
                        <p>{{houseInfo.meters}} ㎡</p>
                    </div>
                </div>

                <div class="features-container">
                    <div class="feature-icon text-center">
                        <i class="fas fa-bath"></i>
                    </div>
                    <div class="feature-info">
                        <p>{{houseInfo.baths}} Baños completos</p>
                    </div>
                </div>

                <div class="features-container">
                    <div class="feature-icon text-center">
                        <i class="fas fa-bed"></i>
                    </div>
                    <div class="feature-info">
                        <p>{{houseInfo.rooms}} Habitaciones</p>
                    </div>
                </div>

            </div>
        </div>

    </div>

</article>