<div class="home-banner text-white">
    <h2 class="add-text-shadow">Tu mejor inversión está aquí.</h2>
    <a href="#houses-catalog">
        <button class="btn btn-bg btn-box-shadow mt-4 text-white">
            Ver más <i class="fas fa-chevron-down"></i>
        </button>
    </a>
</div>

{{> indexViews/houseCatalog}}