<article id="contact" class="bg-color">
    <div class="container">
        <div class="title-text text-center mb-4">
            <h2>Contáctanos</h2>
            <h6>Envianos un mensaje</h6>
            <hr>
        </div>

        <div class="contact-content">
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="form-card">
                        <form id="contact-form" action="" method="" enctype="">

                            <div class="form-group">
                                <div id="form-name">
                                    <label for="form-name">Nombre</label>
                                    <div class="form-input">
                                        <input type="text" name="name" class="form-control" placeholder="Nombre"
                                            required>
                                        <i class="fas"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div id="form-email">
                                    <label for="form-email">Correo</label>
                                    <div class="form-input">
                                        <input type="email" name="email" class="form-control" placeholder="Correo"
                                            required>
                                        <i class="fas"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div id="form-phone">
                                    <label for="form-phone">Teléfono</label>
                                    <div class="form-input">
                                        <input type="tel" name="phone" class="form-control" placeholder="Teléfono"
                                            required>
                                        <i class="fas"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div id="form-message">
                                    <label for="form-message">Mensaje</label>
                                    <div class="form-input">
                                        <textarea name="message" rows="3" class="form-control"
                                            placeholder="Escribe tu mensaje" required></textarea>
                                        <i class="fas"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group text-center">
                                <button id="send-btn" class="btn btn-bg text-white">
                                    <i class="fas fa-paper-plane"></i> Enviar
                                </button>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="col-12 col-md-6 padding-cero">
                    <div class="other-contacts-card">
                        <div class="title-text text-center pt-3 pb-2">
                            <h4>Otras formas de Contacto</h4>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">

                                <div class="icon-content">
                                    <i class="fab fa-whatsapp"></i>
                                </div>
                                <div class="text-content">
                                    <p>WhatsApp: <a target="_blank"
                                            href="https://wa.me/529991234589?text=¡Hola!%20Me%20gustaría%20solicitar%20informes">+52-999-123-4589</a>
                                    </p>
                                </div>

                            </li>
                            <li class="list-group-item">

                                <div class="icon-content">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="text-content">
                                    <p>Teléfono: <a href="tel:+34000000000">+52-777-123-4567</a> en un horario de 10 a.m. a
                                        6 p.m</p>
                                </div>

                            </li>
                            <li class="list-group-item">

                                <div class="icon-content">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="text-content">
                                    <p>Correo: casas@ventas.com</p>
                                </div>

                            </li>
                            <li class="list-group-item">

                                <div class="icon-content">
                                    <i class="fab fa-facebook-square"></i>
                                </div>
                                <div class="text-content">
                                    <p>Facebook: <a href="#">Inmuebles Mérida</a> </p>
                                </div>

                            </li>
                            <li class="list-group-item">

                                <div class="icon-content">
                                    <i class="fab fa-instagram"></i>
                                </div>
                                <div class="text-content">
                                    <p>Instagram: <a href="#">Inmuebles Mérida</a> </p>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <!-- Modal -->
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalTitle"
        aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

</article>