<footer id="footer">
    <div class="container text-center">

        <div class="social-media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="footer-text">
            <p>© 2020 Casas - Todos los derechos reservados |
                <a href="#">Aviso legal </a>|
                <a href="#">Politica de Privacidad</a>
            </p>
        </div>
        <div class="author">
            <h5>Diseñado y Desarrollado por:<br><a href="#">Jehison G.B.</a></h5>
        </div>
    </div>
</footer>