<div id="whatsapp-btn">
    <a target="_blank" href="https://wa.me/529991234589?text=¡Hola!%20Me%20gustaría%20solicitar%20informes">
        <div class="whatsapp-btn-container">
            <i class="fab fa-whatsapp"></i>
        </div>
    </a>
</div>